// SASS import file: will be imported in other SASS files
// SASS classes and variables



  // //
 // //  Defaults for SASS/Compass mixins
// //

// Text shadows
$default-text-shadow-color: black;
$default-text-shadow-blur: 0px;
$default-text-shadow-h-offset: 0px;
$default-text-shadow-v-offset: 1px;

// Border radius
$default-border-radius: 2px;

// Animations
$default-transition-property: all;
$default-transition-duration: 0.2s;

$base-font-size: 16px;
